choice RADIO_APP
    prompt "Build Radio Application"
    default RADIO_NONE

config RADIO_NONE
    bool "Build No Radio Application."
    help
        Do not build any Radio Application.

config RADIO_BRIDGE
    bool "Build Radio Bridge Application."
    help
        Build the Radio Bridge Application for the network core.

config RADIO_NODE
    bool "Build Radio Node Application."
    help
        Build the Radio Node Application for the network core.

endchoice

config RADIO_APP_NAME
    string
    default "bridge" if RADIO_BRIDGE
    default "node" if RADIO_NODE
    help
        Radio application name.
