/ {
    chosen {
        /delete-property/ zephyr,console;
        zephyr,shell-uart = &uart20;
    };

    soc {

    }; /* soc */

    #include "../nrf54l15_fstab.dtsi"

}; /* root */

&cpuapp_rram {
    /delete-node/ partitions;
    #include "../nrf54l15_partitions.dtsi"
};
