/ {
    chosen {
        /delete-property/ zephyr,console;
        zephyr,shell-uart = &uart20;
    };

     zephyr,user {
        led-gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>;
     };

    soc {

    }; /* soc */

    #include "../nrf54l15_fstab.dtsi"

}; /* root */

&cpuapp_rram {
    /delete-node/ partitions;
    #include "../nrf54l15_partitions.dtsi"
};

&gpio2 {
    status = "okay";
};
